/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
.dark-theme {
    --dark-jungle-green: #f5bf23;
    --prussian-blue: white;
    --raisin-black-1: hsl(0, 0%, 100%);
    --raisin-black-2: hsl(0, 0%, 100%);
    --yellow-green: hsl(89, 38%, 69%);
    --orange-soda: #f5bf23;
    --cultured-1: hsl(0, 1%, 22%);
    --cultured-2: hsl(180, 2%, 22%);
    --misty-rose: hsl(20, 3%, 17%);
    --alice-blue: hsl(204, 4%, 23%);
    --seashell: hsl(0, 1%, 38%);
    --cadet: hsl(200, 15%, 43%);
    --white: hsl(0, 2%, 12%);
    --black: hsl(0, 0%, 100%);
    --opal: hsl(180, 1%, 27%);
  }
  
  :root {
  
    /**
       * colors
       */
  
    --dark-jungle-green: hsl(188, 63%, 7%);
    --prussian-blue: hsl(200, 69%, 14%);
    --raisin-black-1: hsl(227, 29%, 13%);
    --raisin-black-2: hsl(229, 17%, 19%);
    --yellow-green: hsl(89, 72%, 45%);
    --orange-soda: #F5B608;
    --cultured-1: hsl(0, 0%, 93%);
    --cultured-2: hsl(192, 24%, 96%);
    --misty-rose: hsl(7, 56%, 91%);
    --alice-blue: hsl(210, 100%, 97%);
    --seashell: hsl(8, 100%, 97%);
    --cadet: hsl(200, 15%, 43%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --opal: hsl(180, 20%, 62%);
  
    /**
       * typography
       */
  
    --ff-nunito-sans: "Nunito Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
  
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.375rem;
    --fs-4: 1.125rem;
    --fs-5: 0.875rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
    /**
       * transition
       */
  
    --transition: 0.25s ease;
  
    /**
       * spacing
       */
  
    --section-padding: 100px;
  
    /**
       * shadow
       */
  
    --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
    --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  
  }

.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
    flex-basis: 70%;
}
.right-col{
    flex-basis: 25%;
}
.left-col h1{
    color: var(--black);
    font-weight: 600;
    margin-bottom: 30px;
}
.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.house-img{
    flex-basis: 40%;
}
.house-info{
    flex-basis: 58%;
    color: var(--black);

}
.house-img img{
    width: 100%;
    border-radius: 12px;
}
.house-info h3{
    font-weight: 600;
    color: var(--black);
    font-size: 22px;
    margin: 4px 0;
}
.house-info i{
    color: var(--dark-jungle-green);
    font-size: 18px;
    margin: 10px 1px;
}
.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}
.sidebar{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}
.sidebar h2{
    font-weight: 500;
}
.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}
.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p{
    flex: 1;
}
.filter input{
    margin-right: 15px;
    cursor: pointer;
}
.sidebar-link{
    text-align: right;
    margin: 20px 0;
}
.sidebar-link a{
    text-decoration: none;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination img{
    width: 15px;
    margin: 10px 20px;
}
.right-arrow{
    transform: rotate(180deg);
}
.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background: var(--black);
    color: var(--white);
}

/* ------small screen for listing page ---------- */

@media only screen and (max-width: 700px){
    .list-container{
        margin-top: 150px;
    }
    .left-col, .right-col, .house-img, .house-info{
        flex-basis: 100%;
    }
    .left-col h1{
        font-size: 22px;
    }
    .house-info h3{
        font-size: 18px;
    }
    .house-info i{
        font-size: 16px;
    }
    .pagination span{
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}
